.home-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.home-banner{
    display: flex;
    background-image:linear-gradient(rgba(12, 12, 12, 0.7), rgba(39, 39, 39, 0.7)), url("../../assets/jpg/HomeBanner.jpg");
    width: 100%;
    height: 550px;
}

.product-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    padding: 5px;
}

.find-gift-button{
    text-align: center;
    width: 100%;
    height: 60px;
    border-color: white;
    font-size: larger;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(253, 180, 235, 0.897);
}

.find-gift-button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
  }

.title{
    font-size: 2rem;
}

.product-preview1{
    display: flex;
    flex-direction: row;
    background-color: bisque;
}

.product-preview2{
    display: flex;
    flex-direction: row;
    background-color: bisque;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.product:hover{
    cursor: pointer;
}

.preview-picture{
   width: 100%; 
   height: 100%;
}

.preview-picture-name{
    text-transform: uppercase;
    font-size: larger;
}


